html {
  box-sizing: border-box;
}

  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

/* background */
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #7297F8, #3B3B5E, #496099);
  background-size: 2500% 2500%;
  overflow: hidden;
  animation: sunset 5s ease infinite;
  font-family: 'Arvo', serif;
}

@keyframes sunset {
  0%{background-position:25% 0%}
  50%{background-position:100% 100%}
  100%{background-position:25% 0%}
}
/* end background */

h1 {
  font-size: 3rem;
}

.caption {
  display: block;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  top: 100px;
}
/* egg */
.egg-white {
  display: block;
  position: relative;
  width: 250px;
  height: 320px;
  border-radius: 100%;
  background-color: #FFFFFF;
  margin: 14% 0 0 40%;
  box-shadow: inset -10px -10px #E7E6E2;
  animation: shake 2s ease infinite;
}

.yolk {
  display: block;
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #FFE52B;
  top: 130px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset -14px -14px #F4C723;
}

.egg-eye-lhs {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  top: 60px;
  margin-left: 28%;
  animation: blink 3s infinite;
}

.egg-eye-rhs {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  top: 60px;
  margin-left: 20%;
  animation: blink 3s ease infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

.egg-smile {
  display: block;
  position: relative;
  width: 24px;
  height: 16px;
  border-radius: 15px 15px 70px 70px;
  background-color: #000000;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* @end egg */

/* avocado */
.avo {
  display: block;
  position: absolute;
  width: 250px;
  height: 320px;
  border-radius: 100%;
  background-color: #B4DC6F;
  box-shadow: inset -10px -10px #8BB248;
  margin-left: 20%;
  animation: shake2 3s ease infinite;
  animation: rotatelhs 3s ease infinite;
}

.seed {
  display: block;
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #B1854C;
  top: 130px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset -14px -14px #987445;
}

.avo-eye-lhs {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  margin-left: 28%;
  top: 60px;
  animation: blink 3s ease infinite;
}

.avo-eye-rhs {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  margin-left: 20%;
  top: 60px;
  animation: blink 3s ease infinite;
}

.avo-smile {
  display: block;
  position: relative;
  width: 24px;
  height: 16px;
  border-radius: 15px 15px 70px 70px;
  background-color: #000000;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* @end avocado */

/* tomato */
.tomato-container {
  display: block;
  position: absolute;
  margin-left: 60%;
  top: 330px;
  animation: jump 1.5s ease infinite;
}

.tomato {
  display: block;
  position: relative;
  z-index: 2;
  width: 250px;
  height: 200px;
  border-radius: 100%;
  background-color: #EE4343;
  box-shadow: inset -10px -10px #B54444;
}

.tomato-shoe-lhs {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 20px;
  border-radius: 100px 100px 0 0;
  background-color: #F3F3F3;
  top: 34px;
}

.tomato-shoe-rhs {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 100px 100px 0 0;
  background-color: #F3F3F3;
  top: 34px;
}

.tomato-leg-lhs {
  position: relative;
  display: block;
  width: 10px;
  height: 50px;
  border-radius: 3%;
  background-color: #987445;
  margin: 0px 0px 0px 30%;
  bottom: 10px;
}

.tomato-leg-rhs {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 50px;
  border-radius: 3%;
  background-color: #987445;
  margin-left: 60%;
  bottom: 60px;
}

.tomato-leaf-lhs {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 80px;
  background-color: #8BB248;
  border-radius: 0px 30px;
  box shadow: inset -5px -5px #000;
  transform: rotateX(60deg);
  left: 20%;
  bottom: 40px;
}

.tomato-leaf-rhs {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 40px;
  background-color: #B4DC6F;
  border-radius: 0px 30px;
  box shadow: inset -5px -5px #000;
  transform: rotateX(20deg);
  transform: scale(-1,1);
  left: 15%;
  bottom: 56px;
}

.tomato-eye-lhs {
  display: inline-block;
  position: absolute;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  top: 80px;
  animation: blink 3s ease infinite;
}

.tomato-eye-rhs {
  display: inline-block;
  position: absolute;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  top: 80px;
  margin-left: 80px;
  animation: blink 3s ease infinite;
}

.tomato-smile {
  display: block;
  position: relative;
  width: 24px;
  height: 16px;
  border-radius: 15px 15px 70px 70px;
  background-color: #000000;
  top: 50px;
  margin-left: 60%;
}
/* @end tomato */

/* test */

.bacon-container {
  display: block;
  position: absolute;
}

.bacon {
  display: block;
  position: absolute;
  width: 230px;
  height: 230px;
  background-color: #FFB190;
  transform-origin: 50% 48%;
  border-radius: 43%;
  margin: 0px 0px 0px 10%;
  animation: wave 2s infinite linear;
}

.bacon-2 {
  display: block;
  position: absolute;
  width: 230px;
  height: 230px;
  background-color: #FFB190;
  transform-origin: 50% 48%;
  border-radius: 43%;
  margin: 140px 0px 0px 10%;
  animation: wave 2s infinite linear;
}
/* @end test */

/* reusable animations */
@keyframes blink{
  0%{transform: scaleY(0.2);}
  3%{transform: scaleY(1);}
  6%{transform: scaleY(0.1);}
  10%{transform: scaleY(1);}
}

@keyframes shake {
  0%{transform: rotate(20deg);}
  50%{transform: rotate(-20deg);}
  100%{transform: rotate(20deg);}
}

@keyframes shake2 {
  0%{transform: rotate(-20deg);}
  50%{transform: rotate(30deg);}
  100%{transform: rotate(-20deg);}
}

@keyframes rotatelhs {
  0%{transform: translate3D(0, 0) rotate(0deg);}
  50%{transform: translate3D(0, -50px, 0) rotate(-10deg);}
  100%{transform: translate3D(0, 0) rotate(0deg);}
}

@keyframes jump {
  0%{transform: translate3d(0, 0px, 0);}
  50%{transform: translate3D(0, -50px, 0) rotate(3deg);}
  100%{transform: translate3d(0, 0px, 0);}
}

@keyframes wave {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/* @end resuable animations */
