html {
  box-sizing: border-box;
}

  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

/* background */
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #3B3B5E, #242424, #222222);
  background-size: 2500% 2500%;
  overflow: hidden;
  animation: sunset 10s ease infinite;
}

@keyframes sunset {
  0%{background-position:25% 0%}
  50%{background-position:76% 100%}
  100%{background-position:25% 0%}
}
/* end background */

/* egg */
.egg-white {
  display: block;
  position: relative;
  width: 250px;
  height: 320px;
  border-radius: 100%;
  background-color: #FFFFFF;
  margin-top: 14%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset -10px -10px #E7E6E2;
}

.yolk {
  display: block;
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #FFE52B;
  top: 130px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset -14px -14px #F4C723;
}

.egg-eye-lhs {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  top: 70px;
  margin-left: 27%;
  animation: blink 3s ease infinite;
}

.egg-eye-rhs {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  top: 70px;
  margin-left: 20%;
  animation: blink 3s ease infinite;
}
/* @end egg */

/* avocado */

.avo {
  display: block;
  position: absolute;
  width: 250px;
  height: 320px;
  border-radius: 100%;
  background-color: #B4DC6F;
  box-shadow: inset -10px -10px #8BB248;
  margin-left: 10%;
}

.seed {
  display: block;
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: #B1854C;
  top: 130px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset -14px -14px #987445;
}

.avo-eye-lhs {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  margin-left: 27%;
  top: 70px;
  animation: blink 3s ease infinite;
}

.avo-eye-rhs {
  display: block;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000000;
  margin-left: 20%;
  top: 70px;
  animation: blink 3s ease infinite;
}


/* @end avocado */

/* reusable animations */
@keyframes blink{
  0%{transform: scaleY(0.2);}
  3%{transform: scaleY(1);}
  6%{transform: scaleY(0.1);}
  10%{transform: scaleY(1);}
}

@keyframes shake {

}
/* @end resuable animations */
